
@{
    Layout = null;
}

<!DOCTYPE html>

<html itemscope itemtype="http://schema.org/Map" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>AirMap</title>
    <link rel="stylesheet" type="text/css" href="/Content/Air/styles.css"/>
</head>
<body>
<div id="display" 
     data-topography="/src/yk-topo-alt.json" 
     @*data-topography="/src/tokyo-topo.json"*@ 
     data-samples="/src/sample/current.json" data-type="wind" data-date="">
        <div id="map">
            <svg id="map-svg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
        </div>
        <div id="field">
            <canvas id="field-canvas"></canvas>
        </div>
        <div id="overlay">
            <canvas id="overlay-canvas"></canvas>
        </div>
        <div id="details">
            <h1 id="type">Oskemen town</h1>
            <h1 id="type2">Winds direction</h1>
            <h3 id="sample-label" style="display: none">&nbsp;</h3>
            <h2 id="status">&nbsp;</h2>
            <h2 id="location">&nbsp;</h2>
            <h2 id="point-details">&nbsp;</h2>
        </div>

        <div id="about">
            @*<span>Control | </span>*@
            @*<span class="text-button" id="previous-day">Previous day</span><span> – </span>
            <span class="text-button" id="previous-hour">1 hour ago</span><span> – </span>
            <span class="text-button" id="next-hour">Next hour</span><span> – </span>
            <span class="text-button" id="next-day">Next day</span><span> – </span>*@
            @*<span class="text-button" id="current-conditions">Current</span><span> – </span>*@
            @*<br />*@
            @*<span class="text-button" id="show-location">My location</span><p></p>*@
            @*<span>Overlay | </span>*@
            <span class="text-button" id="wind">None</span><span> – </span>
            <span class="text-button" id="temp">Temp</span><span> – </span>
            <span class="text-button" id="hum">Hum</span><span> – </span>
            <span class="text-button" id="wv">WV</span> <br/>
            <span class="text-button" id="hcoh">HCOH</span><span> – </span>
            <span class="text-button" id="hcl">HCl</span><span> – </span>
            <span class="text-button" id="no2">NO<span class="sub">2</span></span><span> – </span>
            <span class="text-button" id="hf">HF</span><br />
            @*<span style="visibility: hidden">Overlay | </span>*@
            <span class="text-button" id="cl2">CL<span class="sub">2</span></span><span> – </span>
            <span class="text-button" id="so2">SO<span class="sub">2</span></span><span> – </span>
            <span class="text-button" id="co">CO</span><span> – </span>
            <span class="text-button" id="cxhy">CxHy</span>
        </div>
    </div>
    <script src="/Scripts/Air/when.js" charset="utf-8"></script>
    <script src="/Scripts/Air/d3.v3.js" charset="utf-8"></script>
    <script src="/Scripts/Air/topojson.v1.js" charset="utf-8"></script>
    <script src="/Scripts/Air/mvi.js" charset="utf-8"></script>
    <script src="/Scripts/Air/air.js" charset="utf-8"></script>
</body>
</html>
