<style>
    iframe {
        width: 100%;
        height: 500px;
    }
</style>

<div class="jumbotron">
    <h2>Тепловая временная карта концентрации загрязняющих веществ в атмосферном воздухе г. Усть-Каменогорск за период с 01.11.2018 - 18.11.2018</h2>
    <iframe src="../../src/heatmap_with_datetime.html" name="timeline_heat_map"></iframe>

    <h2>Темпловая карта прогностической концентрации загрязняющих веществ в атмосферном воздухе г. Усть-Каменогорск</h2>
    <iframe src="../../src/heat_map252.html" name="timeline_heat_map"></iframe>

</div>


